<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JS files -->
    <script>
        if(window.location.href.endsWith('/')) {
            window.location.href = window.location.href.substring(0, window.location.href.length - 1);
        }
    </script>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/popper.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">

    <title>Hello, world!</title>
</head>
<body>

    <** nav=nav1 **>

    <*** content ***>

    <** footer=footer1 **>

</body>
</html>
